<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>header</key>
	<array>
		<dict>
			<key>category_id</key>
			<string>interest_1001</string>
			<key>title</key>
			<string>Services/Other accounts</string>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string>icon_services_accounts.pdf</string>
			<key>class</key>
			<string>NBHomeLevel2ViewController</string>
			<key>acclabel</key>
			<string>ADD ACCOUNT</string>
			<key>level3</key>
			<array>
				<dict>
					<key>title</key>
					<string></string>
					<key>subtitle</key>
					<string></string>
					<key>icon</key>
					<string></string>
					<key>views</key>
					<array>
						<dict>
							<key>title</key>
							<string>Wells Fargo</string>
							<key>subtitle</key>
							<string>WF Checking</string>
							<key>icon</key>
							<string>Bank1.png</string>
							<key>height</key>
							<string>84</string>
							<key>class</key>
							<string>NBHomeLevel2TableViewCell</string>
							<key>titleplaceholder</key>
							<string>Institution name</string>
							<key>subtitleplaceholder</key>
							<string>Account name</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Account Details</string>
					<key>subtitle</key>
					<string></string>
					<key>icon</key>
					<string></string>
					<key>views</key>
					<array>
						<dict>
							<key>title</key>
							<string>Checking</string>
							<key>placeholder</key>
							<string>Account type</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>NBHomeLevel3TableViewCell</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Mark Davis; Nancy Porter</string>
							<key>placeholder</key>
							<string>Name(s) on account</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>NBNameCell</string>
						</dict>
						<dict>
							<key>title</key>
							<string>4670046030</string>
							<key>placeholder</key>
							<string>Account number</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>NBHomeLevel3TableViewCell</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Santa Clara, CA, USA</string>
							<key>placeholder</key>
							<string>Location</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>NBLocationCell</string>
						</dict>
						<dict>
							<key>title</key>
							<string>David Smith</string>
							<key>placeholder</key>
							<string>Contacts</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>NBContactsCell</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Online Access</string>
					<key>subtitle</key>
					<string></string>
					<key>icon</key>
					<string></string>
					<key>views</key>
					<array>
						<dict>
							<key>title</key>
							<string>wellsfargo.com</string>
							<key>placeholder</key>
							<string>Website</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>NBHomeLevel3TableViewCell</string>
						</dict>
						<dict>
							<key>title</key>
							<string>markdavis</string>
							<key>placeholder</key>
							<string>Username/login</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>NBHomeLevel3TableViewCell</string>
						</dict>
						<dict>
							<key>title</key>
							<string>765ab456!</string>
							<key>placeholder</key>
							<string>Password</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>passwordCell</string>
						</dict>
						<dict>
							<key>title</key>
							<string>3256</string>
							<key>placeholder</key>
							<string>PIN</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>passwordCell</string>
						</dict>
						<dict>
							<key>title</key>
							<string></string>
							<key>placeholder</key>
							<string>Payment method on file</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>60</string>
							<key>class</key>
							<string>NBNameCell</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Notes</string>
					<key>subtitle</key>
					<string></string>
					<key>icon</key>
					<string></string>
					<key>views</key>
					<array>
						<dict>
							<key>title</key>
							<string>Notes</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string>Bank1.png</string>
							<key>height</key>
							<string>90</string>
							<key>class</key>
							<string>NBHomeNotesTableViewCell</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>ATTACHMENTS</string>
					<key>subtitle</key>
					<string></string>
					<key>icon</key>
					<string></string>
					<key>views</key>
					<array>
						<dict>
							<key>title</key>
							<string>Bank Statement 2015-16</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>120</string>
							<key>class</key>
							<string>NBHomeAttachmentTableViewCell</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category_id</key>
			<string>interest_2001</string>
			<key>title</key>
			<string>Other attachments</string>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string>icon_attachments.pdf</string>
			<key>class</key>
			<string>NBHomeLevel2ViewController</string>
			<key>acclabel</key>
			<string>ADD ATTACHMENT</string>
			<key>level3</key>
			<array>
				<dict>
					<key>title</key>
					<string></string>
					<key>subtitle</key>
					<string></string>
					<key>icon</key>
					<string></string>
					<key>views</key>
					<array>
						<dict>
							<key>title</key>
							<string>Wells Fargo</string>
							<key>subtitle</key>
							<string>WF Checking</string>
							<key>icon</key>
							<string>Bank1.png</string>
							<key>height</key>
							<string>84</string>
							<key>class</key>
							<string>NBHomeLevel2TableViewCell</string>
							<key>titleplaceholder</key>
							<string>Title</string>
							<key>subtitleplaceholder</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Notes</string>
					<key>subtitle</key>
					<string></string>
					<key>icon</key>
					<string></string>
					<key>views</key>
					<array>
						<dict>
							<key>title</key>
							<string>Notes</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string>Bank1.png</string>
							<key>height</key>
							<string>90</string>
							<key>class</key>
							<string>NBHomeNotesTableViewCell</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>ATTACHMENTS</string>
					<key>subtitle</key>
					<string></string>
					<key>icon</key>
					<string></string>
					<key>views</key>
					<array>
						<dict>
							<key>title</key>
							<string>Bank Statement 2015-16</string>
							<key>subtitle</key>
							<string></string>
							<key>icon</key>
							<string></string>
							<key>height</key>
							<string>120</string>
							<key>class</key>
							<string>NBHomeAttachmentTableViewCell</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category_id</key>
			<string>interest_3001</string>
			<key>title</key>
			<string>LISTS</string>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string>icon_lists.pdf</string>
			<key>class</key>
			<string>NBToDoLevel1ViewController</string>
			<key>index</key>
			<string>0</string>
			<key>header</key>
			<dict>
				<key>title</key>
				<string>Interests</string>
				<key>subtitle</key>
				<string>5</string>
				<key>category</key>
				<string></string>
				<key>icon</key>
				<string>list_interests.png</string>
				<key>level1</key>
				<array>
					<dict>
						<key>title</key>
						<string>Restaurants to try</string>
						<key>subtitle</key>
						<string>3</string>
						<key>category</key>
						<string></string>
						<key>level2</key>
						<array>
							<dict>
								<key>title</key>
								<string>Scoma’s (Sausalito)</string>
								<key>subtitle</key>
								<string>09/31/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Tamarine (Palo Alto)</string>
								<key>subtitle</key>
								<string>10/08/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Banana Leaf (Fremont)</string>
								<key>subtitle</key>
								<string>10/21/2016</string>
								<key>category</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Movies to watch - Mark</string>
						<key>subtitle</key>
						<string>3</string>
						<key>category</key>
						<string></string>
						<key>level2</key>
						<array>
							<dict>
								<key>title</key>
								<string>The 100-foot journey</string>
								<key>subtitle</key>
								<string>09/31/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>The man who knew infinity</string>
								<key>subtitle</key>
								<string>10/08/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Sully</string>
								<key>subtitle</key>
								<string>10/21/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Captain Phillips</string>
								<key>subtitle</key>
								<string>10/21/2016</string>
								<key>category</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Books to read - Nancy</string>
						<key>subtitle</key>
						<string>3</string>
						<key>category</key>
						<string></string>
						<key>level2</key>
						<array>
							<dict>
								<key>title</key>
								<string>The content trap (Bharat Anand)</string>
								<key>subtitle</key>
								<string>09/31/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Engines of liberty (David Cole)</string>
								<key>subtitle</key>
								<string>10/08/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>When breath becomes air (Paul Kalanithi)</string>
								<key>subtitle</key>
								<string>10/21/2016</string>
								<key>category</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Recipes to try - Samantha</string>
						<key>subtitle</key>
						<string>3</string>
						<key>category</key>
						<string></string>
						<key>level2</key>
						<array>
							<dict>
								<key>title</key>
								<string>French apple tart</string>
								<key>subtitle</key>
								<string>09/31/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Peach shortcakes</string>
								<key>subtitle</key>
								<string>10/08/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Grilled pineapple sundae</string>
								<key>subtitle</key>
								<string>10/21/2016</string>
								<key>category</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Concerts/events to attend - Mark</string>
						<key>subtitle</key>
						<string>3</string>
						<key>category</key>
						<string></string>
						<key>level2</key>
						<array>
							<dict>
								<key>title</key>
								<string>Pink Floyd</string>
								<key>subtitle</key>
								<string>09/31/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>U2</string>
								<key>subtitle</key>
								<string>10/08/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>REO Speedwagon</string>
								<key>subtitle</key>
								<string>10/08/2016</string>
								<key>category</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>2017 49ers playoffs</string>
								<key>subtitle</key>
								<string>10/21/2016</string>
								<key>category</key>
								<string></string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
