<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>class</key>
		<string>NBHomeLevel1ViewController</string>
		<key>icon</key>
		<string>home_icon_home_money.pdf</string>
		<key>title</key>
		<string> Home &amp; Money </string>
		<key>bg</key>
		<string>grid1.png</string>
		<key>file</key>
		<string>HomeBanking</string>
	</dict>
	<dict>
		<key>class</key>
		<string>NBHomeLevel1ViewController</string>
		<key>icon</key>
		<string>home_icon_travel.pdf</string>
		<key>title</key>
		<string>Travel</string>
		<key>bg</key>
		<string>grid2.png</string>
		<key>file</key>
		<string>Travel</string>
	</dict>
	<dict>
		<key>class</key>
		<string>NBHomeLevel1ViewController</string>
		<key>icon</key>
		<string>home_icon_contacts.pdf</string>
		<key>title</key>
		<string>Contacts</string>
		<key>bg</key>
		<string>grid3.png</string>
		<key>file</key>
		<string>Contacts</string>
	</dict>
	<dict>
		<key>class</key>
		<string>NBHomeLevel1ViewController</string>
		<key>icon</key>
		<string>home_icon_education_work.pdf</string>
		<key>title</key>
		<string>Education &amp; Work</string>
		<key>bg</key>
		<string>grid4.png</string>
		<key>file</key>
		<string>Education</string>
	</dict>
	<dict>
		<key>class</key>
		<string>NBHomeLevel1ViewController</string>
		<key>icon</key>
		<string>home_icon_personal.pdf</string>
		<key>title</key>
		<string>Personal</string>
		<key>bg</key>
		<string>grid5.png</string>
		<key>file</key>
		<string>Personal</string>
	</dict>
	<dict>
		<key>class</key>
		<string>NBHomeLevel1ViewController</string>
		<key>icon</key>
		<string>home_icon_interests.pdf</string>
		<key>title</key>
		<string>Interests</string>
		<key>bg</key>
		<string>grid6.png</string>
		<key>file</key>
		<string>Interest</string>
	</dict>
	<dict>
		<key>class</key>
		<string>NBWellnessLevel1ViewController</string>
		<key>icon</key>
		<string>home_icon_wellness.pdf</string>
		<key>title</key>
		<string>Wellness</string>
		<key>bg</key>
		<string>grid7.png</string>
		<key>file</key>
		<string>Wellness</string>
	</dict>
	<dict>
		<key>class</key>
		<string>NBHomeLevel1ViewController</string>
		<key>icon</key>
		<string>home_icon_memories.pdf</string>
		<key>title</key>
		<string>Memories</string>
		<key>bg</key>
		<string>grid8.png</string>
		<key>file</key>
		<string>Memories</string>
	</dict>
	<dict>
		<key>class</key>
		<string>NBShoppingViewController</string>
		<key>icon</key>
		<string>home_icon_shopping.pdf</string>
		<key>title</key>
		<string>Shopping</string>
		<key>bg</key>
		<string>grid9.png</string>
		<key>file</key>
		<string>Shopping</string>
	</dict>
</array>
</plist>
