<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>header</key>
	<array>
		<dict>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
			<key>title</key>
			<string>Home &amp; Money</string>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
			<key>title</key>
			<string>Travel</string>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Contacts</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Education &amp; Work</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Personal</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Interests</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Wellness</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Memories</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Shopping</string>
			<key>subtitle</key>
			<string>2</string>
			<key>icon</key>
			<string></string>
			<key>index</key>
			<integer>-1</integer>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>View</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Edit</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Add</string>
					<key>subtitle</key>
					<string>2</string>
					<key>icon</key>
					<string></string>
					<key>isselected</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
