<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>header</key>
	<array>
		<dict>
			<key>title</key>
			<string>Home &amp; Money</string>
			<key>subtitle</key>
			<string>5</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_home_Money.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>Items to discuss with financial advisor</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Rebalance Mark and Nancy’s 401k </string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Draft will</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Set up college fund for Simon</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Investments to consider</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>India and China ETFs</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Netflix</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Apple</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Tesla</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Repairs/improvements to be done at home</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Replace shower-head in master bath</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Redo caulking around kitchen sink</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Replace broken sprinkler heads in backyard</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Install hardwood flooring in study</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>BMW items</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Schedule 30k service appointment</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Get rear wiper fixed</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Get noise from rear AC vent checked</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Other</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Get umbrella insurance (call David for quote)</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Add list of key assets and pictures to ninebx</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Call Wells Fargo to refinance home loan</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Get locker at Wells Fargo</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Travel</string>
			<key>subtitle</key>
			<string>4</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_travel.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>Places to visit</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Turkey</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Iceland</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Rajasthan</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Items to pack for Mexico trip</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Shorts</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Swimwear</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Waterproof camera</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Sun glasses</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Things to do on Mexico trip</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Scuba diving</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Jet skiiing</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Mayan ruins</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Copper canyon</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Reservations for Mexico trip</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Book Hilton using points</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Book rental car</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Book excursions</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Contacts</string>
			<key>subtitle</key>
			<string>3</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_contacts.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>People to call - Nancy</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Joe Meyer</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Oscar Luis</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Cathy</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>People to invite home for dinner</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Sue Ferber</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Robert Ward</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Ruby Chen</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>People to invite to anniversary party</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Smiths (Saratoga)</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Stoners</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Gulatis</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Education &amp; Work</string>
			<key>subtitle</key>
			<string>4</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_education_work.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>People to contact for job search - Nancy</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Tom Wells (Spencer Stuart)</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>John Morris (Egon Zehnder)</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Holly Stone (Cisco)</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Colleges to research/visit with Sam</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Stanford</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Berkeley</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>UPenn</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Seminars to attend - Mark</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>abc</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>xyz</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Skills to build - Mark</string>
					<key>subtitle</key>
					<string>4</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>abc</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>xyz</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Personal</string>
			<key>subtitle</key>
			<string>1</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_personal.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>Various</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Upload copies of Simon’s birth certificate to ninebx</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Clean up Yahoo mailbox - Mark</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Clean up Google mailbox - Mark</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Interests</string>
			<key>subtitle</key>
			<string>5</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_interests.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>Restaurants to try</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Scoma’s (Sausalito)</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Tamarine (Palo Alto)</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Banana Leaf (Fremont)</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Movies to watch - Mark</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>The 100-foot journey</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>The man who knew infinity</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Sully</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Captain Phillips</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Books to read - Nancy</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>The content trap (Bharat Anand)</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Engines of liberty (David Cole)</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>When breath becomes air (Paul Kalanithi)</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Recipes to try - Samantha</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>French apple tart</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Peach shortcakes</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Grilled pineapple sundae</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Concerts/events to attend - Mark</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Pink Floyd</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>U2</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>REO Speedwagon</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>2017 49ers playoffs</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Wellness</string>
			<key>subtitle</key>
			<string>3</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_wellness.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>Appointments to schedule</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Mark’s followup with Dr. Taylor</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Dentist appointment for Simon</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Samantha’s eye exam</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Health/fitness goals - Mark</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>45mins workouts, atleast 4 days a week</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Lower cholesterol and stop Lipitor by June 2017</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>30mins of meditation every day</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Healthy food recipes to try - Nancy</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Scrambled eggsadilla (330 cals)</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>10-minute black bean tostadas (280 cals)</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Ricotta swirl (400 cals)</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Memories</string>
			<key>subtitle</key>
			<string>3</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_memories.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>Memories to organize</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Upload India trip pics to ninebx</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Upload Nancy’s 40th birthday pics to ninebx</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Compile memories for Grandpa’s 75th birthday</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Grandma’s classic quotes</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>abc</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>xyz</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>The funny things Sam and Simon said as kids</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>abc</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>xyz</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Shopping</string>
			<key>subtitle</key>
			<string>6</string>
			<key>category</key>
			<string></string>
			<key>icon</key>
			<string>lists_icon_shopping.pdf</string>
			<key>level1</key>
			<array>
				<dict>
					<key>title</key>
					<string>Items to buy for home</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>New vacuum cleaner (Roomba)</string>
							<key>subtitle</key>
							<string>09/31/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Shelves for garage</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>LED light bulbs for kitchen</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Items to return/exchange</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Simon’s jeans - exchg for smaller size (Gap)</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Samantha’s desk lamp - return (Target)</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Toaster - exchg. for Kitchen Aid (Bed Bath)</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Groceries</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Brownberry 12 grain bread (2) </string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Greek yogurt (12 cups)</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Basic-4 cereal (2 boxes)</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Coupons available</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Great clips haircut</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>20% off at Bed Bath</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>30% off at Kohls</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Gifts to buy</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>Drake’s birthday (Lego?)</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Grandpa’s 75th (?)</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>Sue’s farewell</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>Credits to use</string>
					<key>subtitle</key>
					<string>3</string>
					<key>category</key>
					<string></string>
					<key>level2</key>
					<array>
						<dict>
							<key>title</key>
							<string>$50 Amex gift card</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>$76 store credit with Macy’s</string>
							<key>subtitle</key>
							<string>10/08/2016</string>
							<key>category</key>
							<string></string>
						</dict>
						<dict>
							<key>title</key>
							<string>$205 store credit with Home Depot</string>
							<key>subtitle</key>
							<string>10/21/2016</string>
							<key>category</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
